[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=timekeeper
Exec=/usr/bin/single-instance /opt/timekeeper/bin/timekeeper
Icon=/usr/share/icons/hicolor/80x80/apps/timekeeper80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
